<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Kisan Ko Bazar</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #54e25e;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                <img src="img/12345.png" alt="" width="150" height="30" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/account">Account</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/cart">Shop</a>
                        </li>  
                    </ul>
                    <span class="search-icon">
                            <input type="search" placeholder="Search">
                            <label class="icon">
                            <span class="fa fa-search"></span>
                            </label>
                    </span>  
                </div>
            </div>
        </nav> 
    <div class="header">
        <div class="container">
            


            <div class="row">
                <div class="col-2">
                    <h1>Quality and Attractive Price</h1>
                    <p>Buy Agriculture product Online From your on Home</p>
                    <a href="product.ejs" class="btn">SHOP NOW &#10141;</a>
                </div>
                <div class="col-2">
                    <img src="img/1.png">
                </div>
            </div>
        </div>
    </div>
    

    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="img/vegetables.jpg">
                </div>
                <div class="col-3">
                    <img src="img/download (1).jpg">
                </div>
                <div class="col-3">
                    <img src="img/eat-fruits-vegetables-get-paid-998408416.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="wheel">
        <div class="wheelmenu">Menu
            <ul class="wmenu">
                <li><a href="fruit.html">Fruit</a></li>
                <li><a href="vegetable.html">Vegetable</a></li>
                <li><a href="home-made.html">Home-Made</a></li>
                <li><a href="delivery-Boy.html">Delivery Boy</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Farmer</a></li>
                <li><a href="#">Consumer</a></li>
            </ul>
        </div>
    </div>

    
    <div class="small-container">
        <h2 class="title">Welcome To Vegetable Shop</h2>
        <div class="row">
            <div class="col-4">
                <a href="product-detail.html"><img src="img/Demon-Chilli-Pepper.png">
                <h4>Pepper Chili</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs. 100</p>
            </div>
            <div class="col-4">
                <a href="product-detail.html"><img src="img/download.jpg">
                <h4>Potato</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <p>Rs. 50</p>
                </div>
            </div>
            <div class="col-4">
                <a href="product-detail.html"><img src="img/36700-0w600h600_Organic_Red_Onion_From_Italy.jpg">
                <h4>Onion</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs. 45</p>
            </div>
        </div>        
        <h2 class="title">Welcome To Fruit Shop</h2>
        <div class="row">
            <div class="col-4">
                <a href="product-detail.html"><img src="img/4.png">
                <h4>Apple</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs. 150</p>
            </div>
            <div class="col-4">
                <a href="product-detail.html"><img src="img/5.jpg">
                <h4>Orange</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs. 100</p>
            </div>
            <div class="col-4">
                <a href="product-detail.html"><img src="img/6.jpg">
                <h4>Grape</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs. 250</p>
            </div>
        </div>
        <h2 class="title">Welcome To Home Made Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="product-detail.html"><img src="img/15.jpg">
                <h4>Mango Pickle</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs. 500</p>
            </div>
            <div class="col-4">
                <a href="product-detail.html"><img src="img/16.jpg">
                <h4>Amla pickle</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <p>Rs. 500</p>
                </div>
            </div>
            <div class="col-4">
                <a href="product-detail.html"><img src="img/17.jpg">
                <h4>Dry Apple</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs. 1000</p>
            </div>
            <div class="col-4">
                <a href="product-detail.html"><img src="img/18.jpg">
                <h4>Cashew Nut</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs. 1000</p>
            </div>
        </div>
    </div>

    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="img/purepng.com-dragon-fruitfruitsdragon-fruitpitayapitahaya-981524762841msxvf.png">
                </div>
                <div class="col-2">
                    <p>Exclusively avaliable on Kisan Ko Bazar</p>
                    <h1>Dragon Fruit</h1>
                    <small>These fruits are commonly known in English as "dragon fruit", a name used since around 1963, apparently resulting from the leather-like skin and prominent scaly spikes on the fruit exterior.</small> </br>  
                    <a href="product-detail.html" class="btn">Buy Now &#10141;</a>
               </div>
            </div>   
        </div>
    </div>

    
    
    <div class="footer">
        <div class="container">    
            <div class="row">
                <div class="col-4">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile Phone</p>
                    <div class="app-logo">
                        <img src="img/play-store.png">
                        <img src="img/app-store.png">
                    </div>
                </div>
                <div class="col-4">
                    <img src="img/12345.png">
                    <p>Our Purpose is to consumer will easily buy<br> Quality Product from Farmer Directly</p>
                </div>
                <div class="col-4">
                    <h3>Useful Link</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Join Affiliate</li>
                        </ul>
                </div>
                <div class="col-4">
                    <h3>Follow Us</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>YouTube</li>
                        </ul>
                </div>
                <hr>
                <p class="copyright">@Copyright 2021-Kisan Ko Bazar</p>
            </div>
        </div>
    </div>


    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle(){
            if (MenuItems.style.maxHeight == "0px")
                {
                    MenuItems.style.maxHeight = "200px";
                }
            else
                {
                    MenuItems.style.maxHeight = "0px";
                }
        }
    </script>

<script>
    $('nav ul li.btn span').click(function(){
      $('nav ul div.items').toggleClass("show");
      $('nav ul li.btn span').toggleClass("show");
    });
 </script>

    
</body>
</html>